@font-face {
  font-family: 'Aptos';
  src: url('assets/Aptos.ttf') format('truetype');
}

body {
  background-color: #0d1117;
}

#topbar {
  background-color: #c2181e;
}

.container-fluid {
  background-color: #c2181e;
}

#esaote_logo_topbar {
  width: 10vw;
  height: auto;
}

#user_logo_topbar {
  width: 3vw;
  height: auto;
}

#inputs {
  width: 66.6%;
  height: 70%;
  text-align: right;
  color: white;
  font-family: 'Aptos', sans-serif;
  font-weight: bold;
  font-size: 125%;
  padding: 1%;
}

.form-control {
  text-align: right;
  color: white;
  background-color: #333333;
  font-family: 'Aptos', sans-serif;
  font-weight: bold;
}

#viewer {
  width: 50vw;
}

#toolbar {
  height: 15vh;
  /*width: 50vw;*/
  padding: 1%;
}

#toolbar_icon_bar {
  width: 5vw; /* Adjust the width */
  height: 5vw; /* Adjust the height */
  margin-right: 5vw; /* Space between each <li> element */
  display: inline-block; /* Ensure they are displayed horizontally */
}

#esaote_file_button {
  width: 100%; /* Make the image fill the <li> element */
  height: auto; /* Maintain aspect ratio */
}

.toolbar_icon {
  width: 5vh; /* Make the image fill the <li> element */
  height: auto; /* Maintain aspect ratio */
  margin-right: 2.1vw;
}

#image_canvas {
  display: flex;
  justify-content: center;
  align-items: center;  
}

#dicom_image{
  width: 20vw;
  height: auto;
}

#info_table{
  width: 100%;
  height: auto;  
  background-color: black;
  font-family: 'Aptos', sans-serif;
  padding: 1%;
}

#header_row{
  color: white;
  font-weight: bold;
  font-size: 125%;
}

.data_row{
  color: yellow;
}

tr, td, th{
  padding-left: 2%;
}

th{
  width: 33.3333%;
}