@font-face {
  font-family: 'Aptos';
  src: url('assets/Aptos.ttf') format('truetype');
}

body {
  background-color: #0d1117;
}

#topbar {
  background-color: #c2181e;
}

#container-fluid-toolbar {
  background-color: #c2181e;
  height: 7vh;
}

#esaote_logo_topbar {
  width: 8.5vw;
  height: auto;  
}

#user_logo_topbar {
  width: 2.25vw;
  height: auto;
  margin-right: 0.5vw;
}

#inputs {
  width: 66.67vw;
  text-align: right;
  color: white;
  font-family: 'Aptos', sans-serif;
  font-weight: bold;
  font-size: 125%;
  padding: 1vh;
  padding-bottom: 2vh;  
}

.form-control {
  text-align: right;
  color: white;
  background-color: #333333;
  font-family: 'Aptos', sans-serif;
  font-weight: bold;
  height: 4vh;
  /*width: 10vw;*/
}

#viewer {
  width: 66.67vw;
  background-color: black;
  border: 0.25vh solid #c2181e;
  border-radius: 1vh;
}

#toolbar {
  width: 100%;
  padding-bottom: 1%;
}

#esaote_file_button {
  width: 100%; /* Make the image fill the <li> element */
  height: auto; /* Maintain aspect ratio */
}

#esaote_file_button_list_item{
  margin-left: 0.2vw;
  margin-right: 10vw; /* Change this value to your desired margin */
}

.toolbar_icon {
  width: 4.5vh; /* Make the image fill the <li> element */
  height: auto; /* Maintain aspect ratio */
  margin-right: 3.5vw;
}

#image_canvas {
  display: flex;
  justify-content: center;
  align-items: center;  
}

#dicom_image{
  width: 20vw;
  height: auto;
}

#viewer_bottom_info_panel{
  padding-bottom: 1vh;
}

#info_table{
  width: 100%;
  height: auto;  
  background-color: black;
  font-family: 'Aptos', sans-serif;
  padding: 1%;  
}

#header_row{
  color: white;
  font-weight: bold;
  font-size: 125%;
}

.data_row{
  color: yellow;
}

tr, td, th{
  padding-left: 2%;
  background-color: black;
}

th{
  width: 33.3333%;
}